# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.env
.venv/
venv/
ENV/

# Development
*.log
.vscode/
.idea/

# Application specific
m365_mail_backups/
tenants.secret.yaml

# Distribution / packaging
dist/
build/
*.egg-info/

# Docker
docker-compose.override.yml
